# Capstone Project: Applying Machine Learning to the Crime and Dispatch datasets

In [7]:
import os as os
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [59]:
from datetime import datetime

## file uploads

In [66]:
file_path_dispatch = "/Users/gimle/DATA-205-SETS/Police_Dispatched_Incidents_20240906 copy.csv"

In [68]:
file_path_crime = "/Users/gimle/DATA-205-SETS/Crime_20240906 copy.csv"

In [70]:
file_path_census = "/Users/gimle/DATA-205-SETS/DECENNIALDHC2020.P1-Data copy.csv"

In [72]:
if os.path.exists(file_path_dispatch): 
    dispatch = pd.read_csv(file_path_dispatch)
    print("dispatch created")
   
else: 
    print("youve got fix the dispatch filepath") 
    
if os.path.exists(file_path_crime): 
    crime = pd.read_csv(file_path_crime)
    print("crime created")
   
else: 
    print("youve got fix the crime filepath")
    
if os.path.exists(file_path_census): 
    census = pd.read_csv(file_path_census)
    print("crime created")
   
else: 
    print("youve got fix the census filepath")

/var/folders/vt/8zqwv5_51777lk_0p42g3sdr0000gn/T/ipykernel_99309/2466321656.py:2: DtypeWarning: Columns (11,16) have mixed types. Specify dtype option on import or set low_memory=False.
  dispatch = pd.read_csv(file_path_dispatch)

dispatch created
crime created
crime created

# Exploratory Data analysis

In [75]:
crime.head(3)

,Incident ID,Offence Code,CR Number,Dispatch Date / Time,Start_Date_Time,End_Date_Time,NIBRS Code,Victims,Crime Name1,Crime Name2,...,PRA,Address Number,Street Prefix,Street Name,Street Suffix,Street Type,Latitude,Longitude,Police District Number,Location
0,201403032,5404,220052381,11/27/2022 11:52:08 PM,11/27/2022 11:52:00 PM,NaN,90D,1,Crime Against Society,Driving Under the Influence,...,594,NaN,NaN,MATENY,NaN,RD,39.15682,-77.2665,5D,"(39.1568, -77.2665)"
1,201359823,5404,220000965,01/09/2022 01:18:38 AM,01/09/2022 01:34:00 AM,NaN,90D,1,Crime Against Society,Driving Under the Influence,...,428,100.0,N,FREDERICK,NaN,AVE,39.09438,-77.1517,6D,"(39.0944, -77.1517)"
2,201360056,2304,220001336,01/12/2022 02:53:25 AM,01/12/2022 02:53:00 AM,01/12/2022 03:00:00 AM,23G,1,Crime Against Property,Theft of Motor Vehicle Parts or Accessories,...,293,1600.0,NaN,BRADLEY,NaN,AVE,39.08126,-77.1205,1D,"(39.0813, -77.1205)"

In [79]:
dispatch.head(3)

,Incident_ID,Crime Reports,Crash Reports,Start Time,End Time,Priority,Initial Type,Close Type,Address,City,...,PRA,CallTime CallRoute,Calltime Dispatch,Calltime Arrive,Calltime Cleared,CallRoute Dispatch,Dispatch Arrive,Arrive Cleared,Disposition Desc,Location
0,P1700827460,170547273,NaN,12/07/2017 11:27:39 PM,12/08/2017 04:03:37 AM,0,BURGLARY,BURGLARY,100 BLK TEACHERS WAY,GAITHERSBURG,...,419.0,78.0,99.0,121.0,16557.0,20.0,21.0,16436.0,ROBFIREARM-RESIDENTIAL,POINT (-77.193 39.1432)
1,P1700834957,170548471,NaN,12/14/2017 04:29:38 AM,12/14/2017 07:50:08 AM,1,DOMESTIC DISTURBANCE/VIOLENCE,DOMESTIC DISTURBANCE/VIOLENCE,12100 BLK SIOUX PL,GAITHERSBURG,...,591.0,133.0,197.0,591.0,12029.0,64.0,394.0,11438.0,MENTALTRANSPORT,POINT (-77.2524 39.1284)
2,P1900298804,190043080,NaN,09/08/2019 08:55:02 PM,09/09/2019 05:13:44 AM,0,ROBBERY JUST OCCURRED,ROBBERY JUST OCCURRED,13700 BLK CONNECTICUT AVE,SILVER SPRING,...,337.0,147.0,218.0,351.0,29921.0,71.0,132.0,29570.0,LARCNYSHOPLFTNG$50-$199,POINT (-77.0808 39.0789)

In [81]:
crime.columns

Index(['Incident ID', 'Offence Code', 'CR Number', 'Dispatch Date / Time',
       'Start_Date_Time', 'End_Date_Time', 'NIBRS Code', 'Victims',
       'Crime Name1', 'Crime Name2', 'Crime Name3', 'Police District Name',
       'Block Address', 'City', 'State', 'Zip Code', 'Agency', 'Place',
       'Sector', 'Beat', 'PRA', 'Address Number', 'Street Prefix',
       'Street Name', 'Street Suffix', 'Street Type', 'Latitude', 'Longitude',
       'Police District Number', 'Location'],
      dtype='object')

In [83]:
dispatch.columns

Index(['Incident_ID', 'Crime Reports', 'Crash Reports', 'Start Time',
       'End Time', 'Priority', 'Initial Type', 'Close Type', 'Address', 'City',
       'State', 'Zip', 'Longitude', 'Latitude', 'Police District Number',
       'Beat', 'PRA', 'CallTime CallRoute', 'Calltime Dispatch',
       'Calltime Arrive', 'Calltime Cleared', 'CallRoute Dispatch',
       'Dispatch Arrive', 'Arrive Cleared', 'Disposition Desc', 'Location'],
      dtype='object')

In [85]:
census.columns

Index(['GEO_ID', 'NAME', 'P1_001N', 'Unnamed: 3'], dtype='object')

In [87]:
crime.drop(['Incident ID','Block Address', 'City', 'State','Zip Code', 'Address Number', 'Street Prefix',
       'Street Name', 'Street Suffix', 'Street Type','Location'], axis=1, inplace=True)

In [89]:
dispatch.drop(['Incident_ID','Crash Reports','Address','City', 'State', 'Zip', 'Location' ], axis=1, inplace=True)

In [91]:
# Count different things
#vintage_count = somelier['vintage'].value_counts()
#print(vintage_count)

In [93]:
dispatch.isna().sum()

Crime Reports             654675
Start Time                     0
End Time                       1
Priority                       0
Initial Type                   0
Close Type                     0
Longitude                     27
Latitude                      27
Police District Number         1
Beat                         259
PRA                          202
CallTime CallRoute            41
Calltime Dispatch          31638
Calltime Arrive           180215
Calltime Cleared             122
CallRoute Dispatch         31634
Dispatch Arrive           183233
Arrive Cleared            180252
Disposition Desc               2
dtype: int64

In [53]:
crime.isna().sum()

Offence Code                   0
CR Number                      0
Dispatch Date / Time       46646
Start_Date_Time                0
End_Date_Time             162161
NIBRS Code                     0
Victims                        0
Crime Name1                    0
Crime Name2                    0
Crime Name3                    0
Police District Name         622
Agency                         0
Place                          0
Sector                         0
Beat                           0
PRA                            6
Police District Number         0
Location                       0
dtype: int64

In [55]:
# Checking types
print(dispatch.dtypes)

Crime Reports              object
Start Time                 object
End Time                   object
Priority                    int64
Initial Type               object
Close Type                 object
Police District Number     object
Beat                       object
PRA                        object
CallTime CallRoute        float64
Calltime Dispatch         float64
Calltime Arrive           float64
Calltime Cleared          float64
CallRoute Dispatch        float64
Dispatch Arrive           float64
Arrive Cleared            float64
Disposition Desc           object
Location                   object
dtype: object

In [57]:
# Checking types
print(crime.dtypes)

Offence Code               int64
CR Number                  int64
Dispatch Date / Time      object
Start_Date_Time           object
End_Date_Time             object
NIBRS Code                object
Victims                    int64
Crime Name1               object
Crime Name2               object
Crime Name3               object
Police District Name      object
Agency                    object
Place                     object
Sector                    object
Beat                      object
PRA                       object
Police District Number    object
Location                  object
dtype: object

In [97]:
count_crime_1 = len(crime)
count_dispatch_1 = len(dispatch)
print(count_crime_1)
print(count_dispatch_1)

318012
786255

# Fixing time and removing all entries prior to 2018
Both datasets are needlessly large and cover too much time and too many changes to internal reporting procedure. It is therefore essential to cut down the size of the dataset we are working with.

In [99]:
# Reformatting all time and date columns
crime['Dispatch Date / Time'] = pd.to_datetime(crime['Dispatch Date / Time'], format='%m/%d/%Y %I:%M:%S %p', errors='coerce')
crime["Start_Date_Time"] = pd.to_datetime(crime['Start_Date_Time'], format='%m/%d/%Y %I:%M:%S %p', errors='coerce')
crime['End_Date_Time'] = pd.to_datetime(crime['End_Date_Time'], format='%m/%d/%Y %I:%M:%S %p', errors='coerce')

dispatch['Start Time'] = pd.to_datetime(dispatch['Start Time'], format='%m/%d/%Y %I:%M:%S %p', errors='coerce')
dispatch['End Time'] = pd.to_datetime(dispatch['End Time'], format='%m/%d/%Y %I:%M:%S %p', errors='coerce')
print("done")

In [105]:
# Renaming for easy of use
crime.rename(columns={"Start_Date_Time": 'Start_Time'}, inplace=True)
crime.rename(columns={'Dispatch Date / Time': 'Dispatch_Time'}, inplace=True)
crime.rename(columns={"End_Date_Time": 'End_Time'}, inplace=True)
dispatch.rename(columns={'Start Time': 'Start_Time'}, inplace=True)
dispatch.rename(columns={'End Time': 'End_Time'}, inplace=True)
print("done")

done

In [107]:
crime = crime[crime['Start_Time'] >= datetime(2018, 1, 1)]
dispatch = dispatch[dispatch['Start_Time'] >= datetime(2018, 1, 1)]
print("done")

done

In [109]:
count_crime_2 = len(crime)
count_dispatch_2 = len(dispatch)
print(count_crime_2)
print(count_dispatch_2)

252929
637730

# Fixing location point data for easier use in ARC GIS 
This is much easier to do in while the datasets are seperate

In [112]:
crime['WKT'] = crime.apply(lambda row: f"POINT ({row['Longitude']} {row['Latitude']})", axis=1)
dispatch['WKT'] = dispatch.apply(lambda row: f"POINT ({row['Longitude']} {row['Latitude']})", axis=1)
print("done")

done

In [113]:
crime.head(3)

,Offence Code,CR Number,Dispatch_Time,Start_Time,End_Time,NIBRS Code,Victims,Crime Name1,Crime Name2,Crime Name3,Police District Name,Agency,Place,Sector,Beat,PRA,Latitude,Longitude,Police District Number,WKT
0,5404,220052381,2022-11-27 23:52:08,2022-11-27 23:52:00,NaT,90D,1,Crime Against Society,Driving Under the Influence,DRIVING UNDER THE INFLUENCE LIQUOR,GERMANTOWN,MCPD,Street - In vehicle,N,5N2,594,39.15682,-77.2665,5D,POINT (-77.2665 39.15682)
1,5404,220000965,2022-01-09 01:18:38,2022-01-09 01:34:00,NaT,90D,1,Crime Against Society,Driving Under the Influence,DRIVING UNDER THE INFLUENCE LIQUOR,MONTGOMERY VILLAGE,GPD,Street - In vehicle,P,6P2,428,39.09438,-77.1517,6D,POINT (-77.1517 39.09438)
2,2304,220001336,2022-01-12 02:53:25,2022-01-12 02:53:00,2022-01-12 03:00:00,23G,1,Crime Against Property,Theft of Motor Vehicle Parts or Accessories,LARCENY - AUTO PARTS,ROCKVILLE,RCPD,Residence - Driveway,A,1A2,293,39.08126,-77.1205,1D,POINT (-77.1205 39.08126)

In [136]:
crime.isna().sum() 
dispatch.isna().sum()

ID                             0
Start_Time                     0
End_Time                       1
Priority                       0
Initial Type                   0
Close Type                     0
Longitude                      6
Latitude                       6
Police District Number         0
Beat                         186
PRA                          143
CallTime CallRoute            40
Calltime Dispatch          25232
Calltime Arrive           148379
Calltime Cleared             106
CallRoute Dispatch         25228
Dispatch Arrive           151398
Arrive Cleared            148409
Disposition Desc               1
WKT                            0
dtype: int64

# Joining the datasets: 
Here joining the crime and dispatch datasets, keeping all
This is done by first fixing the names of the ID column which in the crime dataset is called CR number and in the dispatch dataset is called crime reports

In [124]:
crime.rename(columns={'CR Number': 'ID'}, inplace=True)
dispatch.rename(columns={'Crime Reports': 'ID'}, inplace=True)

In [140]:
dispatch['ID'] = pd.to_numeric(dispatch['ID'], errors='coerce').fillna(0).astype(int)

In [130]:
incidents = pd.merge(crime, dispatch, on='ID', how='outer', suffixes=('_crime', '_dispatch'))

   Offence Code  ID Dispatch_Time Start_Time_crime End_Time_crime NIBRS Code  \
0           NaN   0           NaT              NaT            NaT        NaN
1           NaN   0           NaT              NaT            NaT        NaN
2           NaN   0           NaT              NaT            NaT        NaN

   Victims Crime Name1 Crime Name2 Crime Name3  ... PRA_dispatch  \
0      NaN         NaN         NaN         NaN  ...        355.0
1      NaN         NaN         NaN         NaN  ...        721.0
2      NaN         NaN         NaN         NaN  ...        503.0

  CallTime CallRoute Calltime Dispatch Calltime Arrive Calltime Cleared  \
0              142.0             948.0          1315.0           1515.0
1              136.0             194.0           600.0           2019.0
2              107.0             199.0             NaN            256.0

  CallRoute Dispatch  Dispatch Arrive  Arrive Cleared  \
0              806.0            366.0           200.0
1               58.0            405.0          1419.0
2               91.0              NaN             NaN

          Disposition Desc               WKT_dispatch
0  SUSPICIOUSSIT/PRSON/VEH  POINT (-77.0482 39.04128)
1  SUSPICIOUSSIT/PRSON/VEH  POINT (-77.1947 39.10502)
2       OTHERMISCELLANEOUS  POINT (-77.1865 39.16493)

[3 rows x 39 columns]

In [142]:
incidents.isna().sum()

Offence Code                       557003
ID                                      0
Dispatch_Time                      569750
Start_Time_crime                   557003
End_Time_crime                     689243
NIBRS Code                         557003
Victims                            557003
Crime Name1                        557003
Crime Name2                        557003
Crime Name3                        557003
Police District Name               557599
Agency                             557003
Place                              557003
Sector                             557003
Beat_crime                         557003
PRA_crime                          557004
Latitude_crime                     557003
Longitude_crime                    557003
Police District Number_crime       557003
WKT_crime                          557003
Start_Time_dispatch                164636
End_Time_dispatch                  164637
Priority                           164636
Initial Type                       164636
Close Type                         164636
Longitude_dispatch                 164642
Latitude_dispatch                  164642
Police District Number_dispatch    164636
Beat_dispatch                      164823
PRA_dispatch                       164779
CallTime CallRoute                 164677
Calltime Dispatch                  190062
Calltime Arrive                    315435
Calltime Cleared                   164743
CallRoute Dispatch                 190057
Dispatch Arrive                    318475
Arrive Cleared                     315465
Disposition Desc                   164637
WKT_dispatch                       164636
dtype: int64

In [134]:
incidents.head(3)

,Offence Code,ID,Dispatch_Time,Start_Time_crime,End_Time_crime,NIBRS Code,Victims,Crime Name1,Crime Name2,Crime Name3,...,PRA_dispatch,CallTime CallRoute,Calltime Dispatch,Calltime Arrive,Calltime Cleared,CallRoute Dispatch,Dispatch Arrive,Arrive Cleared,Disposition Desc,WKT_dispatch
0,NaN,0,NaT,NaT,NaT,NaN,NaN,NaN,NaN,NaN,...,355.0,142.0,948.0,1315.0,1515.0,806.0,366.0,200.0,SUSPICIOUSSIT/PRSON/VEH,POINT (-77.0482 39.04128)
1,NaN,0,NaT,NaT,NaT,NaN,NaN,NaN,NaN,NaN,...,721.0,136.0,194.0,600.0,2019.0,58.0,405.0,1419.0,SUSPICIOUSSIT/PRSON/VEH,POINT (-77.1947 39.10502)
2,NaN,0,NaT,NaT,NaT,NaN,NaN,NaN,NaN,NaN,...,503.0,107.0,199.0,NaN,256.0,91.0,NaN,NaN,OTHERMISCELLANEOUS,POINT (-77.1865 39.16493)

# Matching columns and checking for errors

In [ ]:
matches = incidents.dropna(subset=['ID_crime', 'ID_dispatch']).shape[0]
just_crime = incidents[incidents['ID_dispatch'].isna()].shape[0]
just_crime = incidents[incidents['ID_crime'].isna()].shape[0]

In [ ]:
categories = ['Matches', 'Only in Crime', 'Only in Dispatch']
values = [matches, only_in_crime, only_in_dispatch]
plt.bar(categories, values)
plt.title('Comparison of Matches and Mismatches between Crime and Dispatch')
plt.ylabel('Number of Entries')
plt.show()

In [ ]:
incidents['PRA_BEAT_same'] = (incidents['PRA_crime'] == incidents['PRA_dispatch']) & \
                             (incidents['BEAT_crime'] == incidents['BEAT_dispatch'])

incidents['PRA_BEAT_mismatch'] = ~incidents['PRA_BEAT_same']